# -------- Python --------
venv/
.venv/
__pycache__/
*.pyc

# -------- Node --------
node_modules/

# -------- Database --------
db/

# -------- Environment --------
.env

# -------- OS junk --------
.DS_Store
Thumbs.db